<nav class="pull-right">
  <ul class="pager" style="margin-top: 0;">
    <li><a href="#" (click)="prevDate()"><span aria-hidden="true">&lt;</span></a></li>
    <li><a href="#" (click)="nextDate()" [ngClass]="{disabled: nextDateDisabled()}">
      <span aria-hidden="true">&gt;</span>
    </a></li>
  </ul>
</nav>

<h2 class="title">{{date | dateString: 'date'}}</h2>

<div class="list-group">
  <sd-broadcast *ngFor="let broadcast of broadcasts, trackBy: getCrudIdentifier"
                [broadcast]="broadcast"
                [dateFormat]="'time'"
                [expanded]="isExpanded(broadcast)">
  </sd-broadcast>
</div>

<p *ngIf="broadcasts.length === 0">
  Keine aufgenommenen Sendungen vorhanden.
</p>
