<div class="list-group-item">
  <h4 class="list-group-item-heading title" (click)="toggle()">
    <a>
      <span class="broadcast-date-{{dateFormat}}">{{broadcast | broadcastTime: dateFormat}}</span>
      {{broadcast.attributes.label}}
    </a>
  </h4>

  <div class="list-group-item-text fixclear" *ngIf="expanded">
    <ul class="list-unstyled pull-right">
      <li *ngFor="let audio of audioFiles">
        <a (click)="play(audio)">
          <span class="glyphicon glyphicon-play-circle" aria-hidden="true"></span>
          {{audio.attributes.codec | uppercase}}
          {{audio.attributes.playback_format}}
          ({{audio.attributes.bitrate}}k {{audio.attributes.channels == 2 ? 'stereo' : 'mono'}})
        </a>
        &nbsp;
        <a *ngIf="auth.isLoggedIn" (click)="download(audio)">
          <span class="glyphicon glyphicon-download" aria-hidden="true"></span>
          Download
        </a>
      </li>
    </ul>
    <div class="pull-right" *ngIf="loading">
      <span class="glyphicon glyphicon-option-horizontal icon-pulse"></span>
    </div>
    <div class="pull-right"
         *ngIf="audioFiles && audioFiles.length == 0">
      Keine Aufnahme vorhanden
    </div>

    <p *ngIf="broadcast.attributes.details">{{broadcast.attributes.details}}</p>
    <p *ngIf="broadcast.attributes.people">{{broadcast.attributes.people}}</p>
    <p *ngIf="view == 'date'">
      <a [routerLink]="['/show', broadcast.relationships.show.data.id]">Alle Sendungen</a>
    </p>
  </div>
</div>
