<aside class="well clearfix" [class.visible]="!!audioFile" aria-label="Player">
  <div class="container">
    <div class="controls pull-left">
      <button
        class="btn-blank circle-xl"
        (click)="togglePlay()"
        [class.disabled]="!audioFile"
        aria-pressed="player.playing"
      >
        <span
          class="glyphicon"
          [class.glyphicon-play]="!player.playing"
          [class.glyphicon-pause]="player.playing"
          aria-hidden="true"
        ></span>
        <span class="sr-only">Play</span>
      </button>

      @if (player.loading) {
      <div class="circle-loading" (click)="togglePlay()">
        <div class="spinner">
          <div class="mask">
            <div class="maskedCircle"></div>
          </div>
        </div>
      </div>
      }
    </div>

    @if (broadcast) {
    <div class="info">
      <h4 class="show title">{{ broadcast.attributes.label }}</h4>
      <div>{{ broadcast | broadcastTime: 'full' }}</div>
    </div>
    <div class="player-details">
      <div class="time-passed">{{ player.currentTime }}</div>
      <button class="btn-blank backward" (click)="player.backward(15)">
        <span class="glyphicon glyphicon-repeat" aria-hidden="true"></span>
        <span class="skip-time">15</span>
        <span class="sr-only">Sekunden zurück</span>
      </button>
      <sd-slider
        class="time-progress"
        [value]="player.percent"
        (slidingEvent)="player.seek($event)"
        aria-label="Wiedergabeposition"
      />
      <div class="time-total">{{ player.totalTime }}</div>
      <button class="btn-blank forward" (click)="player.forward(15)">
        <span class="glyphicon glyphicon-repeat" aria-hidden="true"></span>
        <span class="skip-time">15</span>
        <span class="sr-only">Sekunden vor</span>
      </button>
      <button
        class="btn-blank volume-icon"
        (click)="player.toggleMute()"
        aria-pressed="mute"
      >
        <span
          class="glyphicon"
          [class.glyphicon-volume-up]="highVolume"
          [class.glyphicon-volume-down]="lowVolume"
          [class.glyphicon-volume-off]="mute"
          aria-hidden="true"
        ></span>
        <span class="sr-only">Stumm</span>
      </button>
      <sd-slider
        class="volume-slider"
        [value]="volume"
        (slidingEvent)="player.setVolume($event)"
        aria-label="Lautstärke"
      />
    </div>
    }
  </div>
</aside>
