<div class="row">
  <div class="col-sm-12">

    <span *ngIf="downgradeAction.attributes.bitrate">
      Reduziere nach
      <span class="downgrade-value" style="width: 25px;">{{ downgradeAction.attributes.months }}</span>
      Monaten

      <span *ngIf="downgradeAction.attributes.bitrate > 1">
        die Bitrate auf
        <span class="downgrade-value" style="width: 60px;">{{ downgradeAction.attributes.bitrate }} kbps</span>
        und
      </span>

      die Känale auf
      <span class="downgrade-value" style="width: 10px;">{{ downgradeAction.attributes.channels }}</span>.
    </span>

    <span *ngIf="!downgradeAction.attributes.bitrate">
      Lösche nach
      <span class="downgrade-value" style="width: 25px;">{{ downgradeAction.attributes.months }}</span>
      Monaten die Aufzeichnungen in diesem Format komplett.
    </span>

    &nbsp;
    <a (click)="edit.next()"><span class="glyphicon glyphicon-pencil"></span></a>
    &nbsp;
    <a (click)="remove.next()"><span class="glyphicon glyphicon-trash"></span></a>

  </div>
</div>
