<form [formGroup]="form" (ngSubmit)="onSubmit()" class="form-inline well">

  <sd-form-errors [errors]="formErrors()"></sd-form-errors>

  <div *ngIf="!downgradeAction.ereasing">
    <div class="form-group" [class.has-error]="fieldErrors('months')">
      <label for="months" class="control-label">Reduziere nach</label>
      &nbsp;
      <input type="number" class="form-control" formControlName="months" min="1" max="999">
      &nbsp;
      <label for="months" class="control-label">Monaten</label>
    </div>

    <div *ngIf="audioEncoding.attributes.bitrates.length > 1"
         class="form-group"
         [class.has-error]="fieldErrors('bitrate')">
      <label for="bitrate" class="control-label">die Bitrate auf</label>
      &nbsp;
      <div class="input-group">
        <select id="bitrate" class="form-control" formControlName="bitrate">
          <option *ngFor="let bitrate of audioEncoding.attributes.bitrates" value="{{bitrate}}">
            {{ bitrate }}
          </option>
        </select>
        <div class="input-group-addon">kpbs</div>
      </div>
      &nbsp;
      <label class="control-label">und</label>
    </div>

    <div class="form-group" [class.has-error]="fieldErrors('channels')">
      <label for="channels" class="control-label">die Kanäle auf</label>
      &nbsp;
      <select id="channels" class="form-control" formControlName="channels">
        <option *ngFor="let channel of audioEncoding.attributes.channels" value="{{channel}}">
          {{ channel }}
        </option>
      </select>
    </div>
  </div>

  <div *ngIf="downgradeAction.ereasing">
    <div class="form-group" [class.has-error]="fieldErrors('months')">
      <label for="months" class="control-label">Lösche nach</label>
      &nbsp;
      <input type="number" class="form-control" formControlName="months" min="1" max="999">
      &nbsp;
      <label for="months" class="control-label">Monaten die Aufzeichnungen in diesem Format komplett.</label>
    </div>
  </div>

  <sd-field-errors [errors]="fieldErrors('months')"></sd-field-errors>
  <sd-field-errors [errors]="fieldErrors('bitrate')"></sd-field-errors>
  <sd-field-errors [errors]="fieldErrors('channels')"></sd-field-errors>

  <br/>
  <div>
    <button type="submit"
            [disabled]="form.pristine || !form.valid"
            class="btn btn-primary">
      Speichern
    </button>
    &nbsp;
    <button type="reset"
            (click)="reset()"
            [disabled]="form.pristine"
            class="btn">
      Zurücksetzen
    </button>
    &nbsp;
    <a (click)="cancel()">Abbrechen</a>
  </div>

</form>
