<h1>Profile</h1>

<p>
Profile definieren, in welchen Formaten und welcher Qualität eine Sendung archiviert wird.
Die Qualität einer Aufnahme kann nach einer bestimmten Anzahl Monaten
nach der Ausstrahlung in mehreren Schritten reduziert werden
und/oder die Aufnahme kann komplett aus dem Archiv gelöscht werden.
</p>

<p>
Über die maximale öffentliche Bitrate wird bestimmt, welche Wiedergabeformate
für nicht eingeloggte Hörer verfügbar sind.
Für diese sind nur Wiedergabeformate mit gleicher oder tieferer Bitrate verfügbar.
</p>

<p>
Das Standardprofil wird automatisch neuen Sendungen zugewiesen.
</p>

<p>
Bitte wähle links ein Profil zum Bearbeiten.
</p>
