<h1>{{ title }}</h1>

<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <sd-form-errors [errors]="formErrors()"></sd-form-errors>

  <div class="form-group" [class.has-error]="fieldErrors('name')">
    <label for="name" class="control-label">Name</label>
    <input id="name" class="form-control" formControlName="name" />
    <sd-field-errors [errors]="fieldErrors('name')"></sd-field-errors>
  </div>

  <div class="form-group" [class.has-error]="fieldErrors('description')">
    <label for="description" class="control-label">Details</label>
    <textarea id="description" class="form-control" formControlName="description" rows="5">
    </textarea>
    <sd-field-errors [errors]="fieldErrors('description')"></sd-field-errors>
  </div>

  <div class="checkbox" [class.has-error]="fieldErrors('default')">
    <label>
      <input type="checkbox" formControlName="default">
      Standardprofil
    </label>
    <sd-field-errors [errors]="fieldErrors('default')"></sd-field-errors>
  </div>

  <div>
    <button type="submit"
            [disabled]="form.pristine || !form.valid"
            class="btn btn-primary title">
      Speichern
    </button>
    &nbsp;
    <button type="reset"
            (click)="reset()"
            [disabled]="form.pristine"
            class="btn">
      Zurücksetzen
    </button>
    &nbsp;
    <button *ngIf="profile && profile.id"
            (click)="remove($event)"
            class="btn btn-danger pull-right">
      Löschen
    </button>
  </div>
</form>

<div *ngIf="profile && profile.id">
  <br/>

  <h3>Archivierungsformate</h3>

  <accordion [closeOthers]="true">
    <sd-archive-format-form *ngFor="let format of archiveFormats"
                            [archiveFormat]="format"
                            [restService]="archiveFormatsRest"
                            (removed)="removeArchiveFormat(format)">
    </sd-archive-format-form>
  </accordion>

  <div class="form-inline" *ngIf="availableCodecs.length">
    <br/>
    Format hinzufügen:
    &nbsp;
    <select (change)="addArchiveFormat($event.target.value)" class="form-control">
      <option></option>
      <option *ngFor="let codec of availableCodecs" [value]="codec">{{ codec.toUpperCase() }}</option>
    </select>
  </div>

</div>
