<ul class="nav navbar-nav">
  <li role="presentation" routerLinkActive="active">
    <a [routerLink]="['/shows']">Sendungen</a>
  </li>
  <li role="presentation" routerLinkActive="active">
    <a [routerLink]="['/profiles']">Profile</a>
  </li>
  <li role="presentation" routerLinkActive="active">
    <a [routerLink]="['/playback_formats']">Wiedergabeformate</a>
  </li>
</ul>

<ul class="nav navbar-nav navbar-right">
  <li *ngIf="!(auth.isAdminLoggedIn | async)">
    <a (click)="showLogin()"><small>Login</small></a>
  </li>
  <li *ngIf="auth.isAdminLoggedIn | async" class="navbar-text">
    <small class="user">{{auth.user.toString()}}</small>
  </li>
</ul>
