<ul class="nav navbar-nav">
  <li role="presentation" routerLinkActive="active">
    <a [routerLink]="['/shows']">Sendungen</a>
  </li>
  <li role="presentation" routerLinkActive="active">
    <a [routerLink]="['/profiles']">Profile</a>
  </li>
  <li role="presentation" routerLinkActive="active">
    <a [routerLink]="['/playback_formats']">Wiedergabeformate</a>
  </li>
  <li role="presentation" routerLinkActive="active">
    <a [routerLink]="['/access_codes']">Zugangscodes</a>
  </li>
</ul>

<ul class="nav navbar-nav navbar-right">
  <li class="navbar-user">
    <small class="user">{{auth.user.toString()}}</small>
    <a (click)="logout()"><small>Logout</small></a>
  </li>
</ul>
