daypicker {
  th {
    color: white;
  }

  .btn-default.active {
    background-color: $brand-primary !important;
  }
}

sd-shows {
  #show_query {
    margin-bottom: 5px;
  }
}

sd-broadcasts-show,
sd-broadcasts-date {
  display: block;
  margin-bottom: 110px;
}

sd-broadcasts-date {
  .tablet {
    display: none;
  }

  h2 {
    margin-bottom: 20px;
  }

  @media (min-width: $screen-md-min) {
    .mobile {
      display: none;
    }

    .tablet {
      display: initial;
    }
  }
}

sd-broadcasts-show {
  .details {
    white-space: pre-line;
    padding-bottom: $padding-large-vertical;
  }
}

sd-broadcast,
sd-running-broadcast {
  .list-group-item {
    border: 0;
    padding: 0;
    background-color: $brand-secondary;

    &:last-child {
      margin-bottom: $padding-large-vertical * 2;
    }

    &.title {
      font-size: 16px;
    }
  }

  &:last-child .list-group-item:before {
    border-bottom: none;
    height: 0px;
  }

  .list-group-item-heading {
    margin-bottom: 0;
    padding: 20px 20px;

    & > a {
      color: #000;
      text-decoration: none;
      display: block;
    }

    .toggle {
      display: inline-block;
      stroke: $brand-primary;
      margin-left: 15px;

      svg {
        width: 25px;
        margin-bottom: 3px;
      }

      &:hover {
        stroke: $brand-highlight;
      }

      &.up {
        transform: rotate(180deg);
      }
    }
  }

  @media (max-width: 565px) {
    .list-group-item {
      &:last-child {
        margin-bottom: $padding-large-vertical;
      }
    }

    .list-group-item-heading {
      padding: 10px 10px;
      font-size: 18px;

      .toggle,
      .glyphicon-lock {
        display: none;
      }
    }
  }

  .list-group-item-text {
    padding: 10px 15px 10px 15px + $padding-base-horizontal;
    max-height: 60dvh;
    overflow-y: auto;

    &.fixclear:before,
    &.fixclear:after {
      content: " ";
      display: table;
    }
    &.fixclear:after {
      clear: right;
    }

    p:last-child {
      margin-bottom: 0px;
    }

    .placeholder {
      margin-bottom: 10px;
      padding-left: 10px;
      min-width: 60px;
      text-align: center;
    }
  }

  .details {
    white-space: pre-line;
    padding-bottom: 0;
  }

  .audio-links {
    &:not(:empty) {
      margin-bottom: 10px;

      @media (max-width: 565px) or ((min-width: $screen-sm-min) and (max-width: $screen-md-min)) {
        float: none !important;
        margin-bottom: 20px;
      }
    }

    tr > td {
      padding: 0 0 6px 10px;
      vertical-align: top;
    }

    tr:last-child td {
      padding-bottom: 0;
    }
  }

  sd-broadcast-description-form:not(:empty) {
    margin-bottom: 20px;
    display: block;
  }

  textarea {
    margin-bottom: 5px;
  }

  .broadcast-time {
    margin-right: $padding-base-horizontal;
    text-align: right;
    display: inline-block;
  }

  .view-day {
    .broadcast-time {
      min-width: 7em;
    }
  }

  .view-month {
    .broadcast-time {
      min-width: 12em;

      @media (min-width: $screen-sm-min) and (max-width: $screen-md-min) {
        min-width: 0;
        text-align: left;
        display: block;
        margin-bottom: 10px;
      }
    }
  }

  .tracklist {
    $time-width: 3.5em;

    clear: both;

    ul {
      padding-left: 0;
    }

    li {
      list-style: none;
      padding-left: 4em;
      padding-top: 1px;
      padding-bottom: 1px;
    }

    .track-time {
      display: inline-block;
      margin-right: 0;
      margin-left: -3.5em;
      width: $time-width;
    }

    .glyphicon {
      display: none;
    }

    a:hover,
    a.active {
      color: $link-hover-color;

      .glyphicon {
        display: inline-block;
        margin-right: 0.25em;
        margin-left: -4.75em;
      }

      .track-time {
        margin-left: 0;
      }
    }

    ul.non-playable {
      a {
        color: inherit;
        font-weight: inherit;
        font-family: inherit;
        cursor: inherit;
      }

      a:hover {
        .glyphicon {
          display: none;
        }

        .track-time {
          margin-left: -3.5em;
        }
      }
    }
  }
}

.loading {
  color: $brand-disabled;

  sd-broadcast {
    .list-group-item-heading {
      & > a {
        color: $brand-disabled;
      }

      &.access-denied.title > a {
        color: $brand-disabled;
      }
    }
  }
}

.access-denied.title:not(.active) {
  color: $brand-no-access;

  a {
    color: $brand-no-access;
  }

  .glyphicon {
    color: $brand-disabled;
  }
}

.nowrap {
  white-space: nowrap;
}
