.pager a {
  &:hover {
    background-color: white;
  }

  &.disabled {
    cursor: not-allowed;
    border-color: $brand-disabled;

    > span {
      background-color: transparent;
      color: $brand-disabled;
    }
  }
}

.accordion-group.panel {
  border: 0;
}

.panel-warning .panel-body:after {
  clear: right;
}

#notification {
  opacity: 1;
  position: fixed;
  bottom: -100px;
  right: $grid-gutter-width / 2;
  width: 350px;
  max-height: 200px;

  &.display {
    bottom: $grid-gutter-width / 2;
    transition: bottom 0.5s;
  }

  &.remove {
    opacity: 0;
    transition: all 0.5s;
  }
}
