dp-day-calendar {
  display: inherit;
  font-size: 12px;
  line-height: 1.5;
  font-weight: 400;

  .dp-day-calendar-container {
    background-color: transparent !important;
  }

  .dp-calendar-wrapper {
    border: 0 !important;
  }

  dp-calendar-nav {
    .dp-calendar-nav-container {
      border: 0 !important;
      height: 36px;
    }

    .dp-nav-header {
      font-size: inherit;
      font-weight: inherit;
      left: 36px;
      top: 0;
      transform: none;
      z-index: 50;
    }

    .dp-nav-btns-container {
      top: 0;
      right: inherit;
      width: 100%;
      transform: none;
    }

    .dp-nav-header-btn {
      font-weight: 600;
      padding: 6px;
      height: 30px;
      width: 180px;
      background-color: #fff;
      border: 1px solid #ccc;
      border-radius: 0;
      user-select: none;
    }

    .dp-calendar-nav-container-right {
      position: absolute;
      right: 0;
      top: 0;
    }

    .dp-calendar-nav-left,
    .dp-calendar-nav-right {
      width: 35px;
      height: 30px;
      background-color: #fff;
      border: 1px solid #ccc;
      border-radius: 0;
      user-select: none;
    }
  }

  .dp-weekdays {
    font-size: 12px !important;
    font-weight: inherit;
    margin-bottom: 0 !important;
    color: white;
  }

  .dp-calendar-weekday {
    border: none !important;
    width: 36px !important;
  }

  .dp-calendar-day {
    width: 36px !important;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 0;
    user-select: none;

    &[disabled] {
      cursor: not-allowed;
      opacity: 0.65 !important;
    }

    &.dp-prev-month {
      opacity: 1;
      color: $text-muted;
    }

    &.dp-next-month {
      opacity: 1;
      color: $text-muted;
    }

    &.dp-selected {
      background-color: $brand-primary !important;
    }
  }
}

dp-month-calendar {
  .dp-month-calendar-container {
    background-color: transparent !important;
  }

  .dp-calendar-month {
    width: 63px !important;
    height: 66px !important;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 0;
    user-select: none;
  }
}
