body {
  font-weight: 300;
  overflow-x: hidden;
}

a {
  font-weight: 500;
  font-family: $headings-font-family;
  cursor: pointer;

  &:hover {
    text-decoration: none;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.4;
}

p {
  margin: 0 0 20px;
}

.title {
  font-family: $headings-font-family;
}

.sidebar {
  width: 288px;
  float: left;

  .well {
    background-color: $brand-primary;
    border: 0;
    padding: 18px;
  }
}

.content {
  position: relative;
  vertical-align: top;
  padding: 0;
  height: 100%;
  margin-left: 318px;
}

.paragraph {
  margin-bottom: 10px;
}

small,
.small {
  font-size: 76%;
}

.icon-pulse {
  overflow: hidden;
  font-size: 32px;
  line-height: 14px;
  color: $gray;
  animation: icon-pulse 1s infinite linear;
}

@keyframes icon-pulse {
  0% {
    width: 11px;
  }
  32% {
    width: 11px;
  }
  33% {
    width: 22px;
  }
  65% {
    width: 22px;
  }
  66% {
    width: 32px;
  }
  100% {
    width: 32px;
  }
}
