.container {
  .navbar-header {
    float: left;
    margin-left: 0;
  }
}

.navbar nav .navbar-nav:not(.navbar-right) li {
  font-size: 22px;
  font-family: "Font-bold", Arial, sans-serif;
}

.navbar-nav {
  margin-left: 50px;
  margin: 0;

  .navbar-text {
    margin-bottom: 10px;
    margin-top: 10px;
    line-height: 20px;
  }

  .navbar-user {
    a {
      display: inline-block;
    }
  }

  li a {
    padding-top: 20px;
    padding-bottom: 0px;
  }

  li small {
    padding-top: 0px;
    display: inline-block;

    &.user {
      font-weight: 500;
    }
  }
}

.navbar-right {
  float: right;

  li a {
    padding-top: 8px;
    padding-bottom: 8px;
  }

  li small {
    padding-top: 10px;
    display: inline-block;

    &.user {
      font-weight: 500;
    }
  }
}

.navbar-logo {
  height: 48px;
  float: left;
  aspect-ratio: 1.6;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-top: 10px;
  margin-left: 8px;
  margin-right: 10px;
}

.navbar-brand {
  text-transform: uppercase;
  letter-spacing: 1ch;
  font-size: 20px;
  font-family: $headings-font-family;
  margin-right: 0px;

  .company {
    display: none;
  }
}

.navbar-default {

  .navbar-toggle {
    float: left;
    padding: 0;
    border: 0;
    margin-top: 18px;

    &:hover {
      background-color: inherit;

      .icon-bar {
        background-color: #444;
      }
    }

    .icon-bar {
      background-color: #666;
      height: 4px;
    }
  }

  .navbar-collapse {
    box-shadow: none;
    padding-right: 0;

    &.in {
      clear: left;
    }
  }
}

@media screen and (min-width: 768px) {
  .navbar-logo {
    margin-right: 28px;
  }

  .navbar-brand {
    margin-right: 20px;

    .company {
      display: inline;
    }
  }
}
