.navbar {
  margin-bottom: 5px;
}

.container {
  .navbar-header {
    float: left;
    margin-left: 0;
  }
}

.navbar-nav {
  margin: 0;

  .navbar-text {
    margin-bottom: 10px;
    margin-top: 10px;
    line-height: 20px;
  }

  li {
    float: left;
    padding: 4px 16px;

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
    }

    a {
      display: inline-block;
      padding: 0;
    }

    small {
      display: inline-block;

      &.user {
        font-family: $headings-font-family;
      }
    }
  }
}

.navbar-logo {
  height: 48px;
  float: left;
  aspect-ratio: 1.6;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-top: 10px;
  margin-left: 8px;
  margin-right: 10px;
}

.navbar-brand {
  text-transform: uppercase;
  letter-spacing: 1ch;
  font-size: 20px;
  font-family: $headings-font-family;
  margin-right: 0px;

  .company {
    display: none;
  }
}

.navbar-default {
  .navbar-toggle {
    float: left;
    padding: 0;
    border: 0;
    margin-top: 18px;

    &:hover {
      background-color: inherit;

      .icon-bar {
        background-color: #444;
      }
    }

    .icon-bar {
      background-color: #666;
      height: 4px;
    }
  }

  .navbar-collapse.in {
    clear: left;
    background-color: $body-bg;
    position: absolute;
    top: $navbar-height;
    z-index: 10;

    .nav > li > a {
      padding: 0;
    }
  }
}

@media screen and (min-width: 768px) {
  .navbar {
    margin-bottom: 25px;
  }

  .navbar-logo {
    margin-right: 28px;
  }

  .navbar-brand {
    margin-right: 20px;

    .company {
      display: inline;
    }
  }

  .navbar-nav {
    li {
      padding: 16px 16px;
    }
  }
}
