sd-player {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  visibility: hidden;

  .well {
    background-color: $brand-primary;
    padding: 10px;
    border: 0;
    border-radius: 0;
    color: white;
    margin-bottom: 0;
    transition: transform 200ms ease-out;
    transform: translateY(100%);

    &.visible {
      visibility: visible;
      transform: translateY(0);
    }
  }

  .controls {
    position: relative;
    width: 50px;
    height: 50px;
    margin-right: 15px;

    a {
      color: $link-hover-color;
    }
  }

  .info {
    margin-bottom: 20px;
    white-space: nowrap;
  }

  .show {
    font-size: $font-size-base;
    margin-top: 0;
    margin-bottom: 0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    line-height: 1.4;
  }

  .player-details {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
  }

  .time-passed {
    text-align: right;
    font-size: 14px;
  }

  .time-progress {
    width: 65%;
  }

  .time-total {
    display: none;
  }

  .volume-icon {
    font-size: 20px;
    line-height: 12px;
    margin-top: -3px;
    display: none;
  }

  .volume-slider {
    width: 40px;
    display: none;
  }

  .backward,
  .forward {
    position: relative;
    width: 20px;
    height: 20px;
    display: inline-block;
    color: $link-hover-color;
    line-height: 16px;

    .glyphicon {
      position: absolute;
      top: 0;
      left: 0;
      font-size: 20px;
    }

    .skip-time {
      font-size: 8px;
      position: absolute;
      top: 3px;
      left: 6px;
    }
  }

  .backward {
    .glyphicon-repeat {
      transform: scaleX(-1);
    }
  }

  @media (min-width: 380px) {
    .volume-icon {
      display: block;
    }
  }

  // horizontal player layout
  @media (min-width: 565px) {
    .info {
      float: left;
      font-size: 14px;
      margin-bottom: 0;
      margin-right: 30px;
    }

    .player-details {
      margin-top: 13px;
    }

  }

  // sidebar is shown
  @media (min-width: $screen-sm-min) {
    .volume-slider {
      display: block;
    }
  }

  @media (min-width: $screen-md-min) {
    .time-passed {
      line-height: inherit;
      font-size: inherit;
    }
    .controls {
      margin-right: 30px;
    }
    .time-total {
      display: block;
    }
    .backward,
    .forward {
      display: none;
    }
    .info {
      font-size: inherit;
      margin-right: 30px;
    }
  }

  @media (min-width: $screen-lg-min) {
    .time-progress {
      width: 70%;
    }
  }
}

.circle-xl {
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 50%;
  font-size: 30px;
  border-style: solid;
  border-width: 3px;
  border-color: $link-hover-color;
  padding: 0;
  width: 50px;
  height: 50px;
  display: inline-block;

  .glyphicon {
    left: 2.5px;
    top: 3px;
  }

  &:hover,
  &:focus {
    color: $link-hover-color;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.circle-loading {
  position: absolute;
  left: 0;
  top: 0;
  width: 50px;
  height: 50px;
}

.circle-loading .spinner {
  width: 50px;
  height: 50px;
  animation: spin 1.5s infinite linear;
}

.circle-loading .mask {
  width: 25px;
  height: 25px;
  overflow: hidden;
}

.circle-loading .maskedCircle {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border-style: solid;
  border-width: 5px;
  border-color: $brand-primary;
}
