

sd-player {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  visibility: hidden;

  .well {
    background-color: $brand-info;
    padding: 10px;
    border: 0;
    color: white;
    margin-bottom: 0;
    transition: transform 200ms ease-out;
    transform: translateY(100%);

    &.visible {
      visibility: visible;
      transform: translateY(0);
    }
  }

  .controls {
    position: relative;
    width: 50px;
    height: 50px;
    margin-right: 15px;

    a {
      color: $link-hover-color;
    }
  }

  .show {
    font-size: 16px;
    margin-top: 4px;
    margin-bottom: 0px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    line-height: 1.4;
  }

  .time-passed, .time-progress, .time-total, .forward, .backward, .volume-slider {
    float: left;
  }

  .time-passed {
    text-align: left;
    margin-left: 8px;
    line-height: 16px;
  }

  .time-progress {
    margin: 1px 10px 0 10px;
    width: 31%;
  }

  .time-total {
    display: none;
    min-width: 50px;
  }

  .volume-icon {
    margin-left: 15px;
    font-size: 20px;
    line-height: 12px;
    margin-top: -3px;
    float: right;
    display: none;
  }

  .volume-slider {
    margin: 1px 0px 0 10px;
    width: 40px;
    display: none;
  }

  .backward, .forward {
    position: relative;
    width: 20px;
    height: 20px;
    display: inline-block;
    color: $link-hover-color;
    line-height: 16px;

    .glyphicon {
      position: absolute;
      top: 0;
      left: 0;
      font-size: 20px;
    }

    .skip-time {
      font-size: 8px;
      position: absolute;
      top: 2px;
      left: 5px;
    }
  }

  .backward {
    .glyphicon-repeat {
      transform: scaleX(-1);
    }
  }

  .forward {
    margin-left: 0;
  }

  @media (min-width: 360px) {
    .volume-icon {
      display: block;
    }
    .time-progress {
      width: 37%;
    }
  }

  // horizontal player layout
  @media (min-width: 565px) {
    .info {
      width: 180px;
      float: left;
    }
    .time-passed, .time-total, .volume-icon {
      line-height: 46px;
    }
    .backward {
      clear: none;
      margin-left: 15px;
    }
    .time-passed {
      text-align: right;
    }
    .time-progress, .volume-slider {
      margin-top: 16px;
    }
    .time-progress {
      width: 20%;
    }
    .volume-icon {
      margin-top: 1px;
    }
    .backward, .forward {
      .glyphicon {
        top: 13px;
      }
      .skip-time {
        top: 15px;
      }
    }
  }

  @media (min-width: 600px) {
    .time-progress { width: 25%; }
  }

  @media (min-width: 640px) {
    .time-progress { width: 27%; }
    .info { width: 200px; }
  }

  @media (min-width: 700px) {
    .time-progress { width: 34%; }
  }

  // sidebar is shown
  @media (min-width: $screen-sm-min) {
    .time-progress { width: 220px; }
    .volume-icon { margin-left: 30px; float: left; }
    .volume-slider { display: block; }
    .info { width: 200px; }
  }

  @media (min-width: $screen-md-min) {
    .time-progress { width: 380px; }
    .controls { margin-right: 30px; }
    .time-passed { margin-left: 15px; }
    .volume-icon { margin-left: 45px; }
    .time-total { display: block; }
    .backward, .forward { display: none; }
    .info { width: 240px; }
  }

  @media (min-width: $screen-lg-min) {
    .time-progress { width: 560px; }
    .controls { margin-right: 30px; }
    .volume-icon { margin-left: 60px; }
  }
}

.circle-xl {
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 50%;
  font-size: 30px;
  border-style: solid;
  border-width: 3px;
  border-color: $link-hover-color;
  padding: 0;
  width: 50px;
  height: 50px;
  display: inline-block;

  .glyphicon {
    left: 2.5px;
    top: 3px;
  }

  &:hover, &:focus {
    color: $link-hover-color;
  }

}

@keyframes spin {
	from { transform: rotate(0deg); }
	to { transform: rotate(360deg); }
}

.circle-loading {
  position: absolute;
  left: 0;
  top: 0;
	width: 50px;
	height: 50px;
}

.circle-loading .spinner {
	width: 50px;
	height: 50px;
	animation: spin 1.5s infinite linear;
}

.circle-loading .mask {
	width: 25px;
	height: 25px;
	overflow: hidden;
}

.circle-loading .maskedCircle {
	width: 48px;
	height: 48px;
	border-radius: 50%;
  border-style: solid;
  border-width: 5px;
  border-color: $brand-info;
}

