.slider {
  padding: 6px 0;
  position: relative;
  cursor: pointer;

  * {
    position: absolute;
  }

  .background {
    width: 100%;
    height: 2px;
    background-color: white;
  }

  .handle {
    border: 1px solid $brand-highlight;
    border-radius: 100%;
    height: 8px;
    width: 8px;
    background-color: $brand-highlight;
    box-sizing: border-box;
    top: 50%;
    margin-left: -4px;
    margin-top: -3px;
    transition: left 50ms;
  }

  .current {
    height: 2px;
    background-color: $brand-highlight;
    transition: width 50ms;
  }
}
