$brand-primary: rgba(0, 99, 95, 1) !default;
$brand-secondary: rgba(227, 249, 248, 1) !default;
$brand-highlight: rgba(0, 201, 191, 1) !default;
//$brand-success:             #5cb85c !default;
//$brand-info:                #68796f !default;
$brand-info: #064c57 !default;
//$brand-warning:             #f0ad4e !default;
//$brand-danger:              #d9534f !default;
$brand-disabled: #c4c4c4 !default;
$brand-no-access: #646464 !default;

$body-bg: rgba(255, 255, 255, 0) !default;

$icon-font-path: "bootstrap-sass/assets/fonts/bootstrap/";
$link-hover-color: $brand-highlight;
$font-family-sans-serif: "Font-regular", Arial, sans-serif !default;
$headings-font-family: "Font-bold", Arial, sans-serif !default;
$text-muted: #888888;
$border-radius-base: 9px;
$border-radius-small: 9px;
$font-size-base: 18px;
$font-size-h1: 29px;
$font-size-h2: 20px;
$font-size-h3: 20px;
$font-size-h4: 20px;
$container-sm: 768px;

$navbar-height: 58px;
$navbar-default-bg: $brand-secondary;
$navbar-default-color: $brand-primary;
$navbar-default-border: $navbar-default-bg;
$navbar-default-link-color: $brand-primary;
$navbar-default-link-hover-color: $link-hover-color;
$navbar-default-brand-hover-color: $link-hover-color;
$navbar-default-link-active-color: $link-hover-color;
$navbar-default-link-active-bg: $brand-primary;

$component-active-bg: $brand-primary;

$list-group-hover-bg: $brand-secondary;
$list-group-link-color: black;

$input-border-radius: 0;

$modal-sm: 400px;
$modal-title-padding: 20px;
$modal-inner-padding: 20px;

$pagination-border: $brand-primary;
$pagination-hover-border: $link-hover-color;
$pagination-hover-bg: transparent;
