<h2 class="title">{{ title$ | async }}</h2>

<div *ngIf="details$ | async as details" class="details" [innerHtml]="details"></div>

<p *ngIf="errorMessage" [class.loading]="loading">
  Die Sendungen konnten nicht geladen werden ({{ errorMessage }}).
</p>

<div *ngIf="((months | async) || []).length === 0" [class.loading]="loading">
  {{ noBroadcastsMessage }}
</div>

<div infinite-scroll [infiniteScrollDistance]="1" (scrolled)="onScroll()" [class.loading]="loading">
  <div *ngFor="let month of months | async, trackBy: getMonthIdentifier">
    <h3 class="title">{{ month }}</h3>
    <div class="list-group">
      <sd-broadcast *ngFor="let broadcast of (monthlyBroadcasts | async)[month], trackBy: getCrudIdentifier"
                    [broadcast]="broadcast"
                    [view]="'show'"
                    [expanded]="isExpanded(broadcast)">
      </sd-broadcast>
    </div>
  </div>
</div>

<div class="text-center" *ngIf="fetchingMore">
  <span class="glyphicon glyphicon-option-horizontal icon-pulse"></span>
</div>

<div *ngIf="hasMore && !fetchingMore">
  <a (click)="onScroll()">Weitere laden</a>
</div>
