<div class="list-group-item view-{{view}}">
  <h4 class="list-group-item-heading title"
      [class.access-denied]="!broadcast.attributes.audio_access"
      (click)="toggle()">
    <div *ngIf="!broadcast.attributes.audio_access" class="pull-right">
      <span class="glyphicon glyphicon-lock"></span>
    </div>
    <a>
      <span class="broadcast-date">
        {{ broadcast | broadcastTime: (view === 'month' ? 'standard' : 'time') }}
      </span>
      {{ broadcast.attributes.label }}
    </a>
  </h4>

  <div class="list-group-item-text fixclear" *ngIf="expanded">

    <table class="table-condensed pull-right">
      <tr *ngFor="let audio of audioFiles">
        <td>
          <a (click)="play(audio)">
            <span class="glyphicon glyphicon-play-circle" aria-hidden="true"></span>
            {{ audio.attributes.codec | uppercase }}
            {{ audio.attributes.playback_format }}
            (<span *ngIf="audio.attributes.bitrate > 1">{{ audio.attributes.bitrate }}k
             </span>{{ audio.attributes.channels == 2 ? 'stereo' : 'mono' }})
          </a>
        </td>
        <td>
          <a *ngIf="audio.links.download" (click)="download(audio)">
            <span class="glyphicon glyphicon-download" aria-hidden="true"></span>
            Download
          </a>
        </td>
      </tr>
    </table>
    <div class="pull-right placeholder" *ngIf="loadingAudio">
      <span class="glyphicon glyphicon-option-horizontal icon-pulse"></span>
    </div>
    <div class="pull-right placeholder"
         *ngIf="audioFiles && audioFiles.length == 0">
      <em>Kein Zugriff oder keine Aufnahme vorhanden</em>
    </div>

    <p *ngIf="!editing && (broadcast.attributes.details || broadcast.links.update)">
      <span *ngIf="broadcast.attributes.details" class="details" [innerHtml]="broadcast.attributes.details.trim()"></span>
      &nbsp;
      <a *ngIf="broadcast.links.update" href="#" (click)="startEditing()">
        <span class="glyphicon glyphicon-pencil"></span>
      </a>
    </p>

    <form [formGroup]="form" (ngSubmit)="onSubmit()" *ngIf="editing">
      <textarea class="form-control"
                placeholder="Schwerpunkte, Gäste, Themen usw. dieser Sendung"
                formControlName="details"
                rows="5"></textarea>
      <div>
        <button type="submit"
                [disabled]="form.pristine || !form.valid"
                class="btn btn-primary">
          Speichern
        </button>
        <button type="reset"
                (click)="cancelEditing()"
                class="btn btn-link">
          Abbrechen
        </button>
      </div>
    </form>

    <p *ngIf="view == 'day'">
      <a [routerLink]="['/show', broadcast.relationships.show.data.id]" class="nowrap">Alle Sendungen</a>
    </p>

    <p *ngIf="!broadcast.attributes.audio_access">
      Du hast keinen Zugriff auf diese Aufnahme.
      Bitte <a (click)="loginWindow.show(false)">gib den Zugangscode</a> aus dem StattRadio ein
      oder melde dich mit deinem neuen RaBe <a (click)="loginWindow.show(true)">Login</a> an.
    </p>

    <div *ngIf="tracks.length">
      <strong>Playlist</strong>
      <br/>
      <ul class="tracklist" [class.non-playable]="!isTracksPlayable()">
        <li *ngFor="let track of tracks">
          <a (click)="playTrack(track)" [class.active]="isTrackPlaying(track)">
            <span class="glyphicon glyphicon-play-circle" aria-hidden="true">
            </span><span class="track-time">
              {{ track.attributes.started_at | dateString: 'time' }}
            </span>
            <span class="track-info">
              <span *ngIf="track.attributes.artist">
                {{ track.attributes.artist }} –
              </span>
              {{ track.attributes.title }}
            </span>
          </a>
        </li>
      </ul>
    </div>

  </div>
</div>
