<sd-layout [collapsibleNav]="false">
  <nav>
    <ul class="nav navbar-nav navbar-right">
      @if ((auth.isLoggedIn | async) === false) {
      <li>
        <a (click)="showLogin()"><small>Login</small></a>
      </li>
      } @if (auth.isLoggedIn | async) {
      <li class="navbar-user">
        <small class="user">{{ auth.user.toString() }}</small>
        <a (click)="auth.logout()"><small>Logout</small></a>
      </li>
      }
      <li class="navbar-user hidden-xs">
        <a href="https://rabe.ch"><small>RaBe Webseite</small></a>
      </li>
    </ul>
  </nav>

  <aside>
    <sd-datepicker></sd-datepicker>
    <sd-search></sd-search>
    <sd-shows></sd-shows>
  </aside>
</sd-layout>

<sd-player></sd-player>

<sd-login></sd-login>
