<h3>oder Sendung</h3>

<a *ngIf="screenWidth < 768" (click)="toggleShows()">Sendungen anzeigen / verbergen</a>

<input *ngIf="!hideShows"
       type="text"
       id="show_query"
       class="form-control"
       placeholder="Suchen... "
       [formControl]="query" />

<div *ngIf="!hideShows" class="list-group">
  <a *ngFor="let show of shows | async"
     [routerLink]="['/show', show.id]"
     routerLinkActive="active"
     class="list-group-item title">
    {{show.attributes.name}}
  </a>
</div>
