<sd-layout>
  <nav>
    <ul class="nav navbar-nav navbar-right">
      <li *ngIf="!(auth.isLoggedIn | async)">
        <a (click)="showLogin()"><small>Login</small></a>
      </li>
      <li *ngIf="auth.isLoggedIn | async" class="navbar-user">
        <small class="user">{{auth.user.toString()}}</small>
        <a (click)="auth.logout()"><small>Logout</small></a>
      </li>
      <li class="navbar-user hidden-xs">
        <a href="http://rabe.ch"><small>RaBe Webseite</small></a>
      </li>
    </ul>
  </nav>

  <aside>
    <sd-datepicker></sd-datepicker>
    <sd-shows></sd-shows>
  </aside>
</sd-layout>

<sd-player></sd-player>
