sd-player {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  visibility: hidden;

  .well {
    background-color: $brand-info;
    padding: 10px;
    border: 0;
    color: white;
    margin-bottom: 0;
    transition: -webkit-transform 200ms ease-out;
    transition: transform 200ms ease-out;
    -webkit-transform: translateY(100%);
    transform: translateY(100%);

    &.visible {
      visibility: visible;
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
  }

  .controls {
    margin-right: 15px;

    a {
      color: rgb( 0, 225, 212 );
    }
  }

  .info {
    width: 200px;
  }

  .show {
    font-size: 16px;
    margin-top: 4px;
    margin-bottom: 4px;
  }

  .time-passed, .time-progress, .time-total, .volume {
    float: left;
  }

  .time-passed {
    clear: both;
    text-align: right;
    margin-left: 65px;
    line-height: 16px;
  }

  .time-progress {
    position: relative;
    width: 50%;
    padding: 4px 0;
    margin: 3px 10px 0 10px;
  }

  .time-progress * {
    position: absolute;
  }

  .time-background {
    width: 100%;
    height: 2px;
    background-color: white;
  }

  .time-handle {
    border: 1px solid $brand-primary;
    border-radius: 100%;
    height: 8px;
    width: 8px;
    background-color: $brand-primary;
    box-sizing: border-box;
    top: 50%;
    margin-top: -3px;
    transition: left 50ms
  }

  .time-played {
    height: 2px;
    background-color: $brand-primary;
    transition: width 50ms
  }

  .time-total {
    display: none;
  }

  .volume {
    margin-left: 15px;
    font-size: 20px;
    cursor: pointer;
    line-height: 12px;
    margin-top: -3px;
  }

  @media (min-width: 565px) {
    .time-passed, .time-total, .volume {
      line-height: 46px;
    }
    .time-passed {
      clear: none;
      margin-left: 30px;
    }
    .time-progress {
      padding: 10px 0;
      margin: 13px 10px 0 10px;
      width: 25%;
    }
    .volume {
      margin-top: 1px;
    }
  }

  @media (min-width: 640px) {
    .time-progress { width: 35%; }
  }

  @media (min-width: $screen-sm-min) {
    .time-progress { width: 260px; }
    .time-total { display: block; }
    .volume { margin-left: 30px; }
  }

  @media (min-width: $screen-md-min) {
    .time-progress { width: 440px; }
    .controls { margin-right: 30px; }
    .time-passed, .volume { margin-left: 45px; }
  }

  @media (min-width: $screen-lg-min) {
    .time-progress { width: 600px; }
    .controls { margin-right: 30px; }
    .time-passed, .volume { margin-left: 60px; }
  }
}

.circle-xl {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  font-size: 30px;
  border-style: solid;
  border-width: 3px;
  border-color: rgb( 0, 225, 212 );
  padding: 0;
  width: 50px;
  display: inline-block;

  .glyphicon {
    left: 2.5px;
    top: 3px;
  }

  &:hover, &:focus {
    color: rgb( 0, 225, 212 );
  }

}
