sd-player {
  float: right;
  width: 400px;

  .well {
    background-color: $brand-info;
    padding: 20px;
    border: 0;
    color: white;
    margin-bottom: 0;
  }

  .controls {
    margin-right: 15px;

    a {
      color: #FFF;
    }
  }

  .show {
    font-size: 16px;
    margin-top: 4px;
    margin-bottom: 6px;
  }
}

.circle-xl {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  font-size: 30px;
  border-style: solid;
  border-width: 3px;
  border-color: #FFF;
  padding: 0;
  width: 50px;
  display: inline-block;

  .glyphicon {
    left: 2.5px;
    top: 3px;
  }

  &:hover, &:focus {
    color: $brand-primary;
  }

}
