@import url(https://fonts.googleapis.com/css?family=Fjalla+One|Roboto:500italic,500,300&subset=latin,latin-ext);

$brand-primary:              rgb( 0, 201, 191 ) !default;
//$brand-success:             #5cb85c !default;
//$brand-info:                #68796f !default;
$brand-info:                 #064c57 !default;
//$brand-warning:             #f0ad4e !default;
//$brand-danger:              #d9534f !default;

$body-bg:                    #d8efdb !default;


$link-hover-color:          rgb( 0, 225, 212);
$font-family-sans-serif:     'Roboto', sans-serif !default;
$headings-font-family:       'Fjalla One', sans-serif !default;
$text-muted:                 #888888;
$border-radius-base:         0;
$border-radius-small:         0;
$pagination-border:          rgb( 0, 225, 212);
$font-size-h2: 30px;
$font-size-h3: 20px;

@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "player";

body {
  font-weight: 300;
}

a {
  font-weight: 500;
}

sd-app {
  position: relative;
  width: 100%;
  height: 100%;
}

h1.brand {
  margin-top: 48px;
}

.title {
  text-transform: uppercase;
  font-family: "Fjalla One",sans-serif;
}

.sidebar {
  position: static;
  top: 50px;
  bottom: 0;
  z-index: 2;
  width: 270px;
  float: left;

  .well {
    background-color: $brand-info;
    border: 0;
  }
}

daypicker {
  th {
    color: white;
  }

  .btn-default.active {
    background-color: $brand-primary !important;
  }
}

.content {
  position: relative;
  vertical-align: top;
  padding: 0;
  height: 100%;
  transition: margin 200ms ease;
  margin-left: 300px;
}

sd-broadcast {

  .list-group-item {
    border: 0;

    &.title {
      font-size: 16px;
    }

    &:before {
      content: "";
      position: absolute;
      left: 1.25%;
      bottom: 0;
      height: 1px;
      width: 97.5%;
      border-bottom: 1px solid #ddd;
    }
  }

  &:last-child .list-group-item:before {
    border-bottom: none;
    height: 0px;
  }

  .list-group-item-heading {
    &> a {
      color: #000;
      text-decoration: none;
    }
  }

  .list-group-item-text {
    &.fixclear:before, &.fixclear:after {
      content: " ";
      display: table;
    }
    &.fixclear:after {
      clear: right;
    }
  }



}
.icon-pulse {
  overflow: hidden;
  font-size: 22px;
  color: $gray;
  -webkit-animation: icon-pulse 1s infinite linear;
  animation: icon-pulse 1s infinite linear;
}

@keyframes icon-pulse  {
  0% { width: 8px; }
  32% { width: 8px; }
  33% { width: 15px; }
  65% { width: 15px; }
  66% { width: 22px; }
  100% { width: 22px; }
}

@-webkit-keyframes icon-pulse {
  0% { width: 8px; }
  32% { width: 8px; }
  33% { width: 15px; }
  65% { width: 15px; }
  66% { width: 22px; }
  100% { width: 22px; }
}
