<div class="panel panel-warning">
  <div class="panel-heading">
    <h3 class="panel-title">Sendung zusammenführen</h3>
  </div>
  <div class="panel-body">
    <p>
      Alle Ausstrahlungen von {{ show.toString() }} werden zur folgenden Sendung hinzugefügt.
      Die Sendung {{ show.toString() }} wird dabei gelöscht.
      <br/>
      Diese Aktion kann nicht rückgängig gemacht werden.
    </p>

    <form [formGroup]="form" (ngSubmit)="onSubmit()">

      <sd-form-errors [errors]="formErrors()"></sd-form-errors>

      <div class="form-inline">
        <div class="form-group" [class.has-error]="fieldErrors('target_id')">
          <label for="target_id" class="control-label">Mit Sendung </label>
          <select id="target_id" class="form-control" formControlName="target_id">
            <option value="">
              Bitte wählen
            </option>
            <option *ngFor="let s of (showsService.getEntries() | async)" value="{{s.id}}">
              {{ s.toString() }}
            </option>
          </select>
          <sd-field-errors [errors]="fieldErrors('target_id')"></sd-field-errors>
        </div>
        <button type="submit"
                [disabled]="form.pristine || !form.valid"
                class="btn btn-warning pull-right">
          Zusammenführen
        </button>
      </div>

    </form>
  </div>
</div>
