<sd-layout>
  <nav>
    <sd-admin-nav></sd-admin-nav>
  </nav>
  <aside>

    <sd-add-button [link]="['/shows', 'new']">Sendung erstellen</sd-add-button>

    <input type="text"
           id="query"
           class="form-control"
           placeholder="Suchen... "
           [formControl]="query" />

    <div class="list-group">
      <a *ngFor="let show of shows | async"
         [routerLink]="['/shows', show.id]"
         routerLinkActive="active"
         class="list-group-item title">
        {{show.toString()}}
      </a>
    </div>
  </aside>
</sd-layout>
