<h1>{{ title }}</h1>

<form [formGroup]="form" (ngSubmit)="onSubmit()" novalidate>
  <sd-form-errors [errors]="formErrors()"></sd-form-errors>

  <div class="form-group" [class.has-error]="fieldErrors('name')">
    <label for="name" class="control-label">Name</label>
    <input id="name" class="form-control" formControlName="name" />
    <sd-field-errors [errors]="fieldErrors('name')"></sd-field-errors>
  </div>

  <div class="form-group" [class.has-error]="fieldErrors('details')">
    <label for="details" class="control-label">Details</label>
    <textarea id="details" class="form-control" formControlName="details" rows="10">
    </textarea>
    <sd-field-errors [errors]="fieldErrors('details')"></sd-field-errors>
  </div>

  <div class="form-group" [class.has-error]="fieldErrors('profile_id')">
    <label for="profile_id" class="control-label">Profil</label>
    <select id="profile_id" class="form-control" formControlName="profileId">
      <option *ngFor="let profile of (profilesService.getEntries() | async)" value="{{profile.id}}">
        {{ profile.toString() }}
      </option>
    </select>
    <sd-field-errors [errors]="fieldErrors('profileId')"></sd-field-errors>
  </div>

  <div>
    <button type="submit"
            [disabled]="form.pristine"
            class="btn btn-primary title">
      Speichern
    </button>
    &nbsp;
    <button type="reset"
            (click)="reset()"
            [disabled]="form.pristine"
            class="btn">
      Zurücksetzen
    </button>
    &nbsp;
    <button *ngIf="show && show.id"
            (click)="remove($event)"
            class="btn btn-danger pull-right">
      Löschen
    </button>
  </div>
</form>
