<h1>Wiedergabeformate</h1>

<p>
Für jede Aufnahme im Archiv wird pro Wiedergabeformat eine Version zur Verfügung gestellt,
damit Hörer mit langsamer Internetverbindung oder mit weniger Zugriffsrechten
trotzdem eine Sendung anhören können.
</p>

<p>
Pro Sendung werden nur diejenigen Wiedergabeformate angelegt, welche im Sendungsprofil
ein entsprechendes Archivierungsformat haben und deren Qualität gleich oder kleiner
der Qualität der aktuellen Archivaufnahme ist.
</p>

<p>
Änderungen in den Wiedergabeformaten betreffen nur neue Aufzeichnungen.
Die alten Aufzeichnungen bleiben in den Formaten zum Archivierungszeitpunkt
bestehen.
</p>

<p>
Bitte wähle links ein Wiedergabeformat zum Bearbeiten.
</p>
