<h1>{{ title }}</h1>

<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <sd-form-errors [errors]="formErrors()"></sd-form-errors>

  <div class="form-group" [class.has-error]="fieldErrors('name')">
    <label for="name" class="control-label">Name</label>
    <input id="name" class="form-control" formControlName="name" />
    <sd-field-errors [errors]="fieldErrors('name')"></sd-field-errors>
  </div>

  <div class="form-group" [class.has-error]="fieldErrors('description')">
    <label for="description" class="control-label">Beschreibung</label>
    <textarea id="description" class="form-control" formControlName="description" rows="5">
    </textarea>
    <sd-field-errors [errors]="fieldErrors('description')"></sd-field-errors>
  </div>

  <div class="form-group" [class.has-error]="fieldErrors('codec')">
    <label for="codec" class="control-label">Codec</label>
    <select id="codec" class="form-control" formControlName="codec">
      <option *ngFor="let encoding of this.audioEncodingsService.getEntries() | async" value="{{encoding.attributes.codec}}">
        {{ encoding.toString() }}
      </option>
    </select>
    <sd-field-errors [errors]="fieldErrors('codec')"></sd-field-errors>
  </div>

  <div *ngIf="audioEncoding && audioEncoding.attributes.bitrates.length > 1"
       class="form-group"
       [class.has-error]="fieldErrors('bitrate')">
    <label for="bitrate" class="control-label">Bitrate</label>
    <div class="input-group">
      <select id="bitrate" class="form-control" formControlName="bitrate">
        <option *ngFor="let bitrate of audioEncoding.attributes.bitrates" value="{{bitrate}}">
          {{ bitrate }}
        </option>
      </select>
      <div class="input-group-addon">kbps</div>
    </div>
    <sd-field-errors [errors]="fieldErrors('bitrate')"></sd-field-errors>
  </div>

  <div class="form-group" *ngIf="audioEncoding" [class.has-error]="fieldErrors('channels')">
    <label for="channels" class="control-label">Anzahl Kanäle</label>
    <select id="channels" class="form-control" formControlName="channels">
      <option *ngFor="let channel of audioEncoding.attributes.channels" value="{{channel}}">
        {{ channel }}
      </option>
    </select>
    <sd-field-errors [errors]="fieldErrors('channels')"></sd-field-errors>
  </div>

  <div>
    <button type="submit"
            [disabled]="form.pristine || !form.valid"
            class="btn btn-primary">
      Speichern
    </button>
    &nbsp;
    <button type="reset"
            (click)="reset()"
            [disabled]="form.pristine"
            class="btn">
      Zurücksetzen
    </button>
    &nbsp;
    <button *ngIf="entry && entry.id"
            (click)="remove($event)"
            class="btn btn-danger pull-right">
      Löschen
    </button>
  </div>
</form>
