<h2 class="title">{{ title$ | async }}</h2>

@if (details$ | async; as details) {
<div class="details" [innerHtml]="details.trim()"></div>
} @if (errorMessage) {
<p [class.loading]="loading">
  Die Sendungen konnten nicht geladen werden ({{ errorMessage }}).
</p>
} @if (((months | async) || []).length === 0) {
<div [class.loading]="loading">{{ noBroadcastsMessage }}</div>
}

<div
  infinite-scroll
  [infiniteScrollDistance]="1"
  (scrolled)="onScroll()"
  [class.loading]="loading"
>
  @for (month of months | async; track month) {
  <div>
    <h3 class="title">{{ month }}</h3>
    <div class="list-group" role="tablist" aria-multiselectable="true">
      @for ( broadcast of (monthlyBroadcasts | async)[month]; track
      broadcast.id) {
      <sd-broadcast
        [broadcast]="broadcast"
        [expanded]="isExpanded(broadcast)"
        view="month"
      >
      </sd-broadcast>
      }
    </div>
  </div>
  }
</div>

@if (fetchingMore) {
<div class="text-center">
  <span class="glyphicon glyphicon-option-horizontal icon-pulse"></span>
</div>
} @else if (hasMore) {
<div>
  <a (click)="onScroll()">Weitere laden</a>
</div>
}
