<div class="list-group-item view-{{ view }}">
  <h4
    class="list-group-item-heading title"
    [class.access-denied]="!broadcast.attributes.audio_access"
    (click)="toggle()"
  >
    @if (!broadcast.attributes.audio_access) {
    <div class="pull-right">
      <span class="glyphicon glyphicon-lock"></span>
    </div>
    }
    <a>
      <span class="broadcast-time">
        {{ broadcast | broadcastTime: (view === "month" ? "standard" : "time")
        }}
      </span>
      {{ broadcast.attributes.label }}
    </a>
  </h4>

  @if (expanded) {
  <div class="list-group-item-text fixclear">
    <table class="table-condensed pull-right audio-links">
      @for (audio of audioFiles; track audio.id) {
      <tr>
        <td>
          <a (click)="play(audio)">
            <span
              class="glyphicon glyphicon-play-circle"
              aria-hidden="true"
            ></span>
            {{ audio.attributes.codec | uppercase }} {{
            audio.attributes.playback_format }} @if (audio.attributes.bitrate >
            1) {
            <span> ({{ audio.attributes.bitrate }}k) </span>
            }
          </a>
        </td>
        <td>
          @if (audio.links.download) {
          <a (click)="download(audio)" class="text-nowrap">
            <span
              class="glyphicon glyphicon-download"
              aria-hidden="true"
            ></span>
            Download
          </a>
          }
        </td>
      </tr>
      }
    </table>
    @if (loadingAudio) {
    <div class="pull-right placeholder">
      <span class="glyphicon glyphicon-option-horizontal icon-pulse"></span>
    </div>
    } @if (audioFiles && audioFiles.length === 0) {
    <div class="pull-right placeholder">
      <em>Kein Zugriff oder keine Aufnahme vorhanden</em>
    </div>
    }
    <sd-broadcast-description-form [broadcast]="broadcast">
    </sd-broadcast-description-form>
    @if (view === 'day') {
    <p>
      <a
        [routerLink]="['/show', broadcast.relationships.show.data.id]"
        class="nowrap"
        >Alle Sendungen</a
      >
    </p>
    } @if (!broadcast.attributes.audio_access) {
    <p>
      Du hast keinen Zugriff auf diese Aufnahme. Bitte
      <a (click)="loginWindow.show(false)">gib den Zugangscode</a> aus dem
      StattRadio ein oder melde dich mit deinem
      <a (click)="loginWindow.show(true)">RaBe Login</a> an.
    </p>
    }
    <sd-tracks
      [tracks]="tracks"
      [playable]="isTracksPlayable()"
      [playPosition]="audioPlayer.position"
      (playTrack)="playTrack($event)"
    ></sd-tracks>
  </div>
  }
</div>
