@if (editing) {
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <textarea
    class="form-control"
    placeholder="Schwerpunkte, Gäste, Themen usw. dieser Sendung"
    formControlName="details"
    rows="5"
  ></textarea>
  <div>
    <button
      type="submit"
      [disabled]="form.pristine || !form.valid"
      class="btn btn-primary"
    >
      Speichern
    </button>
    <button type="reset" (click)="cancelEditing()" class="btn btn-link">
      Abbrechen
    </button>
  </div>
</form>
} @else if (broadcast.attributes.details || broadcast.links.update) {
<p>
  @if (broadcast.attributes.details) {
  <span
    class="details"
    [innerHtml]="broadcast.attributes.details.trim()"
  ></span>
  } &nbsp; @if (broadcast.links.update) {
  <a (click)="startEditing()">
    <span class="glyphicon glyphicon-pencil"></span>
  </a>
  }
</p>
}
