<nav class="pull-right">
  <ul class="pager" style="margin-top: 0;">
    <li><a (click)="prevDate()"><span aria-hidden="true">&lt;</span></a></li>
    <li><a (click)="nextDate()" [class.disabled]="nextDateDisabled()">
      <span aria-hidden="true">&gt;</span>
    </a></li>
  </ul>
</nav>

<h2 class="title">
  <span class="mobile">{{ date | dateString: 'short' }}</span>
  <span class="tablet">{{ date | dateString: 'date' }}</span>
</h2>

<div class="list-group" [class.loading]="loading">
  <sd-broadcast *ngFor="let broadcast of broadcasts, trackBy: getCrudIdentifier"
                [broadcast]="broadcast"
                [view]="'day'"
                [expanded]="isExpanded(broadcast)">
  </sd-broadcast>
</div>

<p *ngIf="errorMessage" [class.loading]="loading">
  Die Sendungen konnten nicht geladen werden ({{ errorMessage }}).
</p>

<p *ngIf="!errorMessage && broadcasts.length === 0" [class.loading]="loading">
  Keine aufgenommenen Sendungen vorhanden.
</p>
