<nav class="pull-right" aria-label="Datum">
  <ul class="pager" style="margin-top: 0">
    <li>
      <a (click)="prevDate(); false" aria-label="Voriger Tag" href="#">
        <span aria-hidden="true">⟨</span>
      </a>
    </li>
    <li>
      <a
        (click)="nextDate(); false"
        href="#"
        [class.disabled]="nextDateDisabled()"
        aria-label="Nächster Tag"
      >
        <span aria-hidden="true">⟩</span>
      </a>
    </li>
  </ul>
</nav>

<h1 class="title">
  <span class="mobile" aria-hidden="true"
    >{{ date | dateString: "short" }}</span
  >
  <span class="tablet">{{ date | dateString: "date" }}</span>
</h1>

<div class="list-group" [class.loading]="loading" role="tablist">
  @for (broadcast of broadcasts; track broadcast.id) {
  <sd-broadcast
    [broadcast]="broadcast"
    [expanded]="isExpanded(broadcast)"
    view="day"
  />
  } @if (lastTodaysBroadcastFinishedAt) {
  <sd-running-broadcast
    [date]="lastTodaysBroadcastFinishedAt"
    [expanded]="isRunningExpanded()"
  />
  }
</div>

@if (errorMessage) {
<p [class.loading]="loading">
  Die Sendungen konnten nicht geladen werden ({{ errorMessage }}).
</p>
} @else if (broadcasts.length === 0) {
<p [class.loading]="loading">Keine aufgenommenen Sendungen vorhanden.</p>
}
