<nav class="pull-right">
  <ul class="pager" style="margin-top: 0">
    <li>
      <a (click)="prevDate()" aria-label="Voriger Tag"
        ><span aria-hidden="true">⟨</span></a
      >
    </li>
    <li>
      <a
        (click)="nextDate()"
        [class.disabled]="nextDateDisabled()"
        aria-label="Nächster Tag"
      >
        <span aria-hidden="true">⟩</span>
      </a>
    </li>
  </ul>
</nav>

<h2 class="title">
  <span class="mobile">{{ date | dateString: "short" }}</span>
  <span class="tablet">{{ date | dateString: "date" }}</span>
</h2>

<div
  class="list-group"
  [class.loading]="loading"
  role="tablist"
  aria-multiselectable="true"
>
  @for (broadcast of broadcasts; track broadcast.id) {
  <sd-broadcast
    [broadcast]="broadcast"
    [expanded]="isExpanded(broadcast)"
    view="day"
  />
  } @if (lastTodaysBroadcastFinishedAt) {
  <sd-running-broadcast
    [date]="lastTodaysBroadcastFinishedAt"
    [expanded]="isRunningExpanded()"
  />
  }
</div>

@if (errorMessage) {
<p [class.loading]="loading">
  Die Sendungen konnten nicht geladen werden ({{ errorMessage }}).
</p>
} @else if (broadcasts.length === 0) {
<p [class.loading]="loading">Keine aufgenommenen Sendungen vorhanden.</p>
}
