<div class="list-group-item view-{{ view }}">
  <h3
    class="list-group-item-heading title"
    role="tab"
    id="broadcast-heading-{{ broadcast.id }}"
    [class.access-denied]="!broadcast.attributes.audio_access"
    (click)="toggle()"
  >
    <button
      class="btn-blank"
      [attr.aria-expanded]="expanded"
      [attr.aria-controls]="'broadcast-' + broadcast.id"
    >
      <div class="pull-right">
        @if (!broadcast.attributes.audio_access) {
        <span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
        }
        <span class="toggle" [class.up]="expanded" aria-hidden="true">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 42.1 14.6">
            <path
              fill="none"
              stroke-linecap="round"
              stroke-width="3"
              d="m2.044 2.049 19.227 10.83 18.773-10.83"
            ></path>
          </svg>
        </span>
      </div>

      <span class="broadcast-time">
        {{ broadcast | broadcastTime: (view === "month" ? "standard" : "time")
        }}
      </span>
      {{ broadcast.attributes.label }}
    </button>
  </h3>

  @if (expanded) {
  <div
    class="list-group-item-text fixclear"
    id="broadcast-{{ broadcast.id }}"
    role="tabpanel"
    attr.aria-labelledby="broadcast-heading-{{ broadcast.id }}"
  >
    @if (audioFiles) {
    <table class="table-condensed pull-right audio-links">
      @for (audio of audioFiles; track audio.id) {
      <tr>
        <td>
          <a
            (click)="play(audio); false"
            href="#player"
            id="play-audio-{{ audio.id }}"
          >
            <span
              class="glyphicon glyphicon-play-circle"
              aria-hidden="true"
            ></span>
            <span class="sr-only">Play</span>
            <span id="audio-label-{{ audio.id }}">
              {{ audio.attributes.codec | uppercase }} {{
              audio.attributes.playback_format }} @if (audio.attributes.bitrate
              > 1) {
              <span> ({{ audio.attributes.bitrate }}k) </span>
              }
            </span>
          </a>
        </td>
        <td>
          @if (audio.links.download) {
          <a
            (click)="download(audio); false"
            class="text-nowrap"
            href="#"
            id="download-audio-{{ audio.id }}"
            attr.aria-labelledby="download-audio-{{ audio.id }} audio-label-{{ audio.id }}"
          >
            <span
              class="glyphicon glyphicon-download"
              aria-hidden="true"
            ></span>
            Download
          </a>
          }
        </td>
      </tr>
      }
    </table>
    } @if (loadingAudio) {
    <div class="pull-right placeholder">
      <span class="glyphicon glyphicon-option-horizontal icon-pulse"></span>
    </div>
    } @if (audioFiles && audioFiles.length === 0) {
    <div class="pull-right placeholder">
      <em>Kein Zugriff oder keine Aufnahme vorhanden</em>
    </div>
    }
    <sd-broadcast-description-form [broadcast]="broadcast" />
    @if (view === 'day') {
    <p>
      <a
        [routerLink]="['/show', broadcast.relationships.show.data.id]"
        class="nowrap"
        >Alle Sendungen</a
      >
    </p>
    } @if (!broadcast.attributes.audio_access) {
    <p>
      Du hast keinen Zugriff auf diese Aufnahme. Bitte
      <a href="#login" (click)="showLogin(false); false">gib den Zugangscode</a>
      aus dem StattRadio ein oder melde dich mit deinem
      <a href="#login" (click)="showLogin(true); false">RaBe Login</a> an.
    </p>
    }
    <sd-tracks
      [tracks]="tracks"
      [playable]="isTracksPlayable()"
      [playPosition]="audioPlayer.position"
      (playTrack)="playTrack($event)"
    />
  </div>
  }
</div>
