@if (tracks.length) {
<div class="tracklist">
  <h5>Playlist</h5>

  <ul [class.non-playable]="!playable">
    @for (trak of tracks; track trak.id) {
    <li>
      <a (click)="playTrack.emit(trak)" [class.active]="isTrackPlaying(trak)">
        <span class="glyphicon glyphicon-play-circle" aria-hidden="true"> </span
        ><span class="track-time">
          {{ trak.attributes.started_at | dateString: "time" }}
        </span>
        <span class="track-info">
          @if (trak.attributes.artist) {
          <span>{{ trak.attributes.artist }} – </span>
          } {{ trak.attributes.title }}
        </span>
      </a>
    </li>
    }
  </ul>
</div>
}
