@if (tracks.length) {
<div class="tracklist">
  <h4 class="h5">Playlist</h4>

  <ul>
    @for (trak of tracks; track trak.id) {
    <li>
      @if (playable) {
      <a
        (click)="play(trak); false"
        [class.active]="isTrackPlaying(trak)"
        href="#player"
      >
        <span class="glyphicon glyphicon-play-circle" aria-hidden="true"></span>
        <span class="sr-only">Play</span>
        <ng-container *ngTemplateOutlet="label"></ng-container>
      </a>
      } @else {
      <ng-container *ngTemplateOutlet="label"></ng-container>
      }

      <ng-template #label>
        <span class="track-time">
          {{ trak.attributes.started_at | dateString: "time" }}
        </span>
        <span class="track-info">
          @if (trak.attributes.artist) {
          <span>{{ trak.attributes.artist }} – </span>
          } {{ trak.attributes.title }}
        </span>
      </ng-template>
    </li>
    }
  </ul>
</div>
}
