.downgrade-value {
  font-weight: 500;
  text-align: right;
  display: inline-block;
}

.alert:last-child {
  margin-bottom: 0;
}

sd-downgrade-action {
  &.disabled {
    color: $brand-disabled;

    .glyphicon {
      color: $brand-disabled;
    }
  }
}
