
daypicker {
  th {
    color: white;
  }

  .btn-default.active {
    background-color: $brand-primary !important;
  }
}

sd-shows {
  #show_query {
    margin-bottom: 5px;
  }
}

sd-broadcasts-show, sd-broadcasts-date {
  display: block;
  margin-bottom: 110px;
}

sd-broadcasts-date {

  .tablet {
    display: none
  }

  @media (min-width: 565px) {
    .mobile {
      display: none;
    }

    .tablet {
      display: initial;
    }
  }
}

sd-broadcasts-show {

  .details {
    white-space: pre-line;
    padding-bottom: $padding-large-vertical;
  }

}

sd-broadcast {

  .list-group-item {
    border: 0;

    &.title {
      font-size: 16px;
    }

    &:before {
      content: "";
      position: absolute;
      left: 1.25%;
      bottom: 0;
      height: 1px;
      width: 97.5%;
      border-bottom: 1px solid #ddd;
    }
  }

  &:last-child .list-group-item:before {
    border-bottom: none;
    height: 0px;
  }

  .list-group-item-heading {
    &> a {
      color: #000;
      text-decoration: none;
    }
  }

  .list-group-item-text {
    margin-top: 10px;
    padding-left: $padding-base-horizontal;

    &.fixclear:before, &.fixclear:after {
      content: " ";
      display: table;
    }
    &.fixclear:after {
      clear: right;
    }

    p:last-child {
      margin-bottom: 0px;
    }

    .table-condensed  tr > td {
      padding-top: 0;
      padding-bottom: 0;
    }
  }

  .broadcast-date, .broadcast-date {
    margin-right: $padding-base-horizontal;
    text-align: right;
    display: inline-block;
  }

  .view-date {
    .list-group-item-heading {
      padding-left: 116px;
      text-indent: -116px;
    }

    .broadcast-date {
      min-width: 100px;
    }
  }

  .view-show {
    .list-group-item-heading {
      padding-left: 186px;
      text-indent: -186px;
    }

    .broadcast-date {
      min-width: 170px;
    }
  }

}

.loading {
  color: $brand-disabled;

  sd-broadcast {
    .list-group-item-heading {
      &> a {
        color: $brand-disabled;
      }
    }
  }
}
