.pager a {

  &:hover {
    background-color: white;
  }

  &.disabled {

    cursor: not-allowed;
    border-color: $brand-disabled;

    > span {
      background-color: transparent;
      color: $brand-disabled;
    }
  }

}

.panel {
  border: none;
}
