.pager a {

  &:hover {
    background-color: white;
  }

  &.disabled {

    cursor: not-allowed;
    border-color: $brand-disabled;

    > span {
      background-color: transparent;
      color: $brand-disabled;
    }
  }

}

.accordion-group.panel {
  border: 0;
}

.panel-warning .panel-body:after {
  clear: right;
}
