
body {
  font-weight: 300;
}

a {
  font-weight: 500;
  cursor: pointer;
}

.title {
  text-transform: uppercase;
  font-family: "Fjalla One", sans-serif;
}


.container {
  .navbar-header {
    float: left;
    margin-left: 0;
  }
}


.navbar-nav {
  margin: 0;

  .navbar-text {
    margin-bottom: 10px;
    margin-top: 10px;
    line-height: 20px;
  }

  .navbar-user {
    a {
      display: inline-block;
    }
  }

  li a {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  li small {
    padding-top: 10px;
    display: inline-block;

    &.user {
      font-weight: 500;
    }
  }
}
.navbar-right {
  float: right;
}

.navbar-brand {
  font-size: $font-size-h1;
  font-family: "Fjalla One", sans-serif;
}

.navbar-default {
  padding-top: 8px;
}

.navbar-default .navbar-toggle {
  float: left;
  padding: 0;
  border: 0;
  margin-top: 10px;

  &:hover {
    background-color: inherit;

    .icon-bar {
      background-color: #444;
    }
  }

  .icon-bar {
    background-color: #666;
    height: 4px;
  }
}

.sidebar {
  width: 270px;
  float: left;

  .well {
    background-color: transparentize($brand-info, 0.5);
    border: 0;
  }
}

.content {
  position: relative;
  vertical-align: top;
  padding: 0;
  height: 100%;
  transition: margin 200ms ease;
  margin-left: 300px;
}

footer {
  margin-top: -80px;
}

.icon-pulse {
  overflow: hidden;
  font-size: 32px;
  line-height: 14px;
  color: $gray;
  animation: icon-pulse 1s infinite linear;
}

@keyframes icon-pulse  {
  0% { width: 11px; }
  32% { width: 11px; }
  33% { width: 22px; }
  65% { width: 22px; }
  66% { width: 32px; }
  100% { width: 32px; }
}
