sd-player {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  visibility: hidden;

  .well {
    background-color: $brand-info;
    padding: 10px;
    border: 0;
    color: white;
    margin-bottom: 0;
    transition: transform 200ms ease-out;
    transform: translateY(100%);

    &.visible {
      visibility: visible;
      transform: translateY(0);
    }
  }

  .controls {
    position: relative;
    width: 50px;
    height: 50px;
    margin-right: 15px;

    a {
      color: rgb( 0, 225, 212 );
    }
  }

  .show {
    font-size: 16px;
    margin-top: 4px;
    margin-bottom: 0px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    line-height: 1.4;
  }

  .time-passed, .time-progress, .time-total, .volume-icon, .volume-slider {
    float: left;
  }

  .time-passed {
    clear: left;
    text-align: left;
    margin-left: 65px;
    line-height: 16px;
  }

  .time-progress {
    margin: 1px 10px 0 10px;
    width: 35%;
  }

  .volume-slider {
    margin: 1px 0px 0 10px;
    width: 30px;
  }

  .time-total {
    display: none;
    min-width: 50px;
  }

  .volume-icon {
    margin-left: 15px;
    font-size: 20px;
    cursor: pointer;
    line-height: 12px;
    margin-top: -3px;
  }

  @media (min-width: 565px) {
    .info {
      width: 160px;
    }
    .time-passed, .time-total, .volume-icon {
      line-height: 46px;
    }
    .time-passed {
      clear: none;
      margin-left: 15px;
      text-align: right;
      min-width: 50px;
    }
    .time-progress, .volume-slider {
      margin-top: 16px;
    }
    .time-progress {
      width: 21%;
    }
    .volume-icon {
      margin-top: 1px;
    }
    .volume-slider {
      width: 40px;
    }
  }

  @media (min-width: 640px) {
    .time-progress { width: 31%; }
  }

  // sidebar is shown
  @media (min-width: $screen-sm-min) {
    .time-progress { width: 200px; }
    .time-passed, .volume-icon { margin-left: 30px; }
    .time-total { display: block; }
    .info { width: 200px; }
  }

  @media (min-width: $screen-md-min) {
    .time-progress { width: 340px; }
    .controls { margin-right: 30px; }
    .time-passed, .volume-icon { margin-left: 45px; }
    .info { width: 240px; }
  }

  @media (min-width: $screen-lg-min) {
    .time-progress { width: 510px; }
    .controls { margin-right: 30px; }
    .time-passed, .volume-icon { margin-left: 60px; }
  }
}

.circle-xl {
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 50%;
  font-size: 30px;
  border-style: solid;
  border-width: 3px;
  border-color: rgb( 0, 225, 212 );
  padding: 0;
  width: 50px;
  height: 50px;
  display: inline-block;

  .glyphicon {
    left: 2.5px;
    top: 3px;
  }

  &:hover, &:focus {
    color: rgb( 0, 225, 212 );
  }

}

@keyframes spin {
	from { transform: rotate(0deg); }
	to { transform: rotate(360deg); }
}

.circle-loading {
  position: absolute;
  left: 0;
  top: 0;
	width: 50px;
	height: 50px;
}

.circle-loading .spinner {
	width: 50px;
	height: 50px;
	animation: spin 1.5s infinite linear;
}

.circle-loading .mask {
	width: 25px;
	height: 25px;
	overflow: hidden;
}

.circle-loading .maskedCircle {
	width: 48px;
	height: 48px;
	border-radius: 50%;
  border-style: solid;
  border-width: 5px;
  border-color: $brand-info;
}
