<nav class="navbar navbar-default">
  <div class="container">

    <div class="navbar-header">
      <button type="button"
              class="navbar-toggle collapsed"
              data-toggle="collapse"
              data-target="#nav"
              aria-expanded="false"
              (click)="toggleNav()">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <a class="navbar-brand" [routerLink]="['/']">RaBe Archiv</a>
    </div>

    <ng-content select="nav"></ng-content>

    <ul class="nav navbar-nav navbar-right">
      <li *ngIf="!auth.isLoggedIn && false">
        <a (click)="login.show()"><small>Login</small></a>
      </li>
      <li *ngIf="auth.isLoggedIn" class="navbar-text">
        <small class="user">{{auth.user.toString()}}</small>
      </li>
    </ul>
  </div>
</nav>

<div class="container" [ngClass]="{ 'active': showNav }">

  <aside id="nav" class="sidebar">
    <div class="sidebar-content">
      <ng-content select="aside"></ng-content>
    </div>
  </aside>

  <div class="content">
    <router-outlet></router-outlet>
  </div>

</div>

<sd-login #login></sd-login>
