<div class="well clearfix" [class.visible]="!!audioFile">
  <div class="container">
    <div class="controls pull-left">
      <a class="btn circle-xl" href="#" (click)="togglePlay()" [class.disabled]="!audioFile">
        <span class="glyphicon"
              role="button"
              [class.glyphicon-play]="!player.playing"
              [class.glyphicon-pause]="player.playing">
        </span>
      </a>

      <div class="circle-loading" *ngIf="player.loading" (click)="togglePlay()">
        <div class="spinner">
          <div class="mask">
            <div class="maskedCircle">
            </div>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="audioFile">
      <div class="info">
        <h4 class="show title">{{ broadcast.attributes.label }}</h4>
        <div>
          {{ broadcast | broadcastTime: 'full' }}
        </div>
      </div>

      <div class="backward" role="button" (click)="player.backward(15)">
        <span class="glyphicon glyphicon-repeat"></span>
        <span class="skip-time">15</span>
      </div>

      <div class="time-passed">
        {{ player.currentTime }}
      </div>

      <sd-slider class="time-progress"
                 [value]="player.percent"
                 (slidingEvent)="player.seek($event)"></sd-slider>

      <div class="time-total">
        {{ player.totalTime }}
      </div>

      <div class="forward" role="button" (click)="player.forward(15)">
        <span class="glyphicon glyphicon-repeat"></span>
        <span class="skip-time">15</span>
      </div>

      <div class="volume-icon">
        <span class="glyphicon"
              [class.glyphicon-volume-up]="highVolume"
              [class.glyphicon-volume-down]="lowVolume"
              [class.glyphicon-volume-off]="mute"
              role="button"
              (click)="player.toggleMute()"></span>
      </div>

      <sd-slider class="volume-slider"
                 [value]="volume"
                 (slidingEvent)="player.setVolume($event)"></sd-slider>
    </div>
  </div>
</div>
